# --- 𝖲𝖾𝖼𝗋𝖾𝗍𝗌 & 𝖢𝗈𝗇𝖿𝗂𝗀 ---
.env
config.pyc
*.env
token.json

# --- 𝖯𝗒𝗍𝗁𝗈𝗇 𝖢𝖺𝖼𝗁𝖾 ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- 𝖳𝖾𝗆𝗉𝗈𝗋𝖺𝗋𝗒 𝖲𝗍𝗈𝗋𝖺𝗀𝖾 ---
downloads/
encoded/
thumbs/
*.log
temp/

# --- 𝖮𝖲 𝖦𝖾𝗇𝖾𝗋𝖺𝗍𝖾𝖽 ---
.DS_Store
Thumbs.db

# --- 𝖵𝗂𝗋𝗍𝗎𝖺𝗅 𝖤𝗇𝗏𝗂𝗋𝗈𝗇𝗆𝖾𝗇𝗍𝗌 ---
venv/
env/
.venv/

